@font-face {
  font-family: 'FFXIV';
  src: url('https://raine01.github.io/ff14rp/FFXIV_Lodestone_SSF.ttf') format('truetype'),
       url('https://raine01.github.io/ff14rp/FFXIV_Lodestone_SSF.woff') format('woff');
  unicode-range: U+E020-E0DB;
}
